
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="">
	<meta name="revisit-after" content="1 days">
	<title></title>
	<link href="content/css" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="content/font-awesome.min.css"> -->
	<link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="content/color.css" media="all"> -->
	<link rel="stylesheet" type="text/css" href="content/theme.css" media="all">
	<!-- <link rel="stylesheet" type="text/css" href="content/responsive.css" media="all"> -->
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<style type="text/css">.fancybox-margin{margin-right:17px;}</style>
</head>
<body class="preload" style="background:#fafafa">
<div class="wrap">
	<section id="content">
		<div class="content-page">
			<div class="container">
				<div class="bread-crumb bg-white border radius6">
					<a href="#">Home</a> <span class="color">Cart</span>
				</div>
				<div class="content-cart-checkout woocommerce">
					<h2 class="title30 font-bold text-uppercase">Cart</h2>
					<form method="post">
						<div class="table-responsive">
							<table class="shop_table cart table">
								<thead>
									<tr>
										<th class="product-remove">&nbsp;</th>
										<th class="product-thumbnail">&nbsp;</th>
										<th class="product-name">Product</th>
										<th class="product-price">Price</th>
										<th class="product-quantity">Quantity</th>
										<th class="product-subtotal">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr class="cart_item">
										<td class="product-remove">
											<a class="remove" href="#"><i class="fa fa-times"></i></a>
										</td>
										<td class="product-thumbnail">
											<a href="#"><img  src="content/goodshop_bakery_12.jpg" alt=""/></a>					
										</td>
										<td class="product-name" data-title="Product">
											<a href="#">Theme Fusion item name</a>					
										</td>
										<td class="product-price" data-title="Price">
											<span class="amount">$68.00</span>					
										</td>
										<td class="product-quantity" data-title="Quantity">
											<div class="detail-qty info-qty border radius6 text-center">
												<a href="#" class="qty-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
												<span class="qty-val">2</span>
												<a href="#" class="qty-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
											</div>		
										</td>
										<td class="product-subtotal" data-title="Total">
											<span class="amount">$68.00</span>					
										</td>
									</tr>
									<tr class="cart_item">
										<td class="product-remove">
											<a class="remove" href="#"><i class="fa fa-times"></i></a>					
										</td>
										<td class="product-thumbnail">
											<a href="#"><img  src="content/goodshop_bakery_12.jpg" alt=""/></a>					
										</td>
										<td class="product-name" data-title="Product">
											<a href="#">Theme Fusion item name</a>					
										</td>
										<td class="product-price" data-title="Price">
											<span class="amount">$19.00</span>					
										</td>
										<td class="product-quantity" data-title="Quantity">
											<div class="detail-qty info-qty border radius6 text-center">
												<a href="#" class="qty-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
												<span class="qty-val">2</span>
												<a href="#" class="qty-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
											</div>			
										</td>
										<td class="product-subtotal" data-title="Total">
											<span class="amount">$38.00</span>					
										</td>
									</tr>
									<tr>
										<td class="actions" colspan="6">
											<div class="coupon">
												<label for="coupon_code">Coupon:</label> 
												<input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> 
												<input type="submit" value="Apply Coupon" name="apply_coupon" class="button bg-color">
											</div>
											<input type="submit" value="Update Cart" name="update_cart" class="button bg-color">			
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
					<div class="cart-collaterals">
						<div class="cart_totals ">
							<h2>Cart Totals</h2>
							<div class="table-responsive">
								<table class="table">
									<tbody>
										<tr class="cart-subtotal">
											<th>Subtotal</th>
											<td><strong class="amount">$106.00</strong></td>
										</tr>
										<tr class="shipping">
											<th>Shipping</th>
											<td>
												<ul class="list-none" id="shipping_method">
													<li>
														<input type="radio" class="shipping_method" checked="checked" value="free_shipping" id="shipping_method_0_free_shipping" data-index="0" name="shipping_method[0]">
														<label for="shipping_method_0_free_shipping">Free Shipping</label>
													</li>
													<li>
														<input type="radio" class="shipping_method" value="local_delivery" id="shipping_method_0_local_delivery" data-index="0" name="shipping_method[0]">
														<label for="shipping_method_0_local_delivery">Local Delivery (Free)</label>
													</li>
													<li>
														<input type="radio" class="shipping_method" value="local_pickup" id="shipping_method_0_local_pickup" data-index="0" name="shipping_method[0]">
														<label for="shipping_method_0_local_pickup">Local Pickup (Free)</label>
													</li>
												</ul>
											</td>
										</tr>
										<tr class="order-total">
											<th>Total</th>
											<td><strong><span class="amount">$106.00</span></strong> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="wc-proceed-to-checkout">
								<a class="checkout-button button alt wc-forward bg-color" href="#">Proceed to Checkout</a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- End Content Pages -->
	</section>
	<!-- End Content -->

	<a href="#" class="scroll-top radius6"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_four"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_one"></div>
			</div>
		</div>
	</div>
	<!-- End Preload -->
</div>
<script type="text/javascript" src="content/jquery-3.2.1.min.js.download"></script>
<script type="text/javascript" src="content/bootstrap.min.js.download"></script>
<!-- <script type="text/javascript" src="content/jquery-ui.min.js.download"></script> -->
<script type="text/javascript" src="content/jquery.jcarousellite.min.js.download"></script>
<script type="text/javascript" src="content/jquery.elevatezoom.js.download"></script>
<script type="text/javascript" src="content/theme.js.download"></script>
</body>
</html>